@import "null.sass"
@import "color.sass"
@import "button.sass"
@import "padding.sass"
body
	background-color: bisque
	@media screen and (max-width: 1200px)
		background-color: $bluePale
	@media screen and (max-width: 992px)
		background-color: palegoldenrod
	@media screen and (max-width: 768px)
		background-color: paleturquoise
	@media screen and (max-width: 576px)
		background-color: bisque
	
// Содержимое файла main.sass

.fontTahoma
	font-family: "Tahoma"
.fontSans
	font-family: "Microsoft Sans Serif"
	
.fontArial
	font-family: "Arial"
//Размеры шрифтов
.size45px
	font-size: 2.75em
	@media screen and (max-width: 992px)
		font-size: 1.8em
.size35px
	font-size: 2.2em
	@media screen and (max-width:992px)
		font-size: 1.8em
.size32px
	font-size: 2em
.size29px
	font-size: 1.8em
	@media screen and (max-width: 992px)
		font-size: 1em
.size26px
	font-size: 1.6em
.size24px
	font-size: 1.5em
	@media screen and (max-width:992px)
		font-size: 1em
.size22px
	font-size: 1.4em
.size20px
	font-size: 1.25em
	@media screen and (max-width: 768px)
		font-size: 1em
.size16px
	font-size: 1em

.text__item
	line-height: 18px
.letter-space
	letter-spacing: 2px
//header
.header-logo-menu
	padding: -20px 0 0 0
	@media screen and (max-width: 768px)
		padding: 20px 20px 0 20px

.header-logo-menu__menu
	background-color: $orange
	border: 7px solid $orange
	border-radius: 5px

.header-logo-menu__menu
	@media screen and (max-width: 768px)
		background-color: $none
		border: 0
		border-radius: 0
.header-logo-menu__logo img
	@media screen and (max-width: 768px)
		width: 108px
		height: 90px
.header-up
	@media screen and (max-width: 768px)
		display: none
//footer
.wrap-footer-block
	flex: 0 0 auto
	background-color: $burgundy
	@media screen and (max-width: 768px)
		background-color: $none
.footer-block1_content
	color: white
.footer-block
	padding: 30px
	@media screen and (max-width: 768px)
		display: none
		padding: 0
.icon
	padding: 5px
.footer-block1_content, .icon
	@media screen and (max-width: 768px)
		display: none

.header-up-footer
	display: none
	@media screen and (max-width: 768px)
		display: block
//basket

.undertitle
	padding-top: 50px 
	padding-bottom: 40px
	@media screen and (max-width: 768px)
		padding: 15px 0 15px 0
.undertitle a 
	color: $brownLight
.undertitle a:hover
	color: $brownDark
.title
	padding: 54px 0 0 0
	@media screen and (max-width: 768px)
		padding: 15px 0 0 0
.main-titles_phone
	background-color: $greyElephant
/* Slider */

.slider
	
	/* Ширина контейнера */
	
	/* Внутренние отступы для ссылок navy */
	
	padding: 0 0 40px 0
	@media screen and (max-width: 768px)
		padding: 0
	/* Позиционирование */
	position: relative
	/* Скроем то что выходит за границы */
	overflow: hidden
/* Двойной клик по ссылкам вперед/назад вызывает выделение */
.slider::-moz-selection
	background: transparent
	color: #fff
	text-shadow: none
.slider::selection
	background: transparent
	color: #fff
	text-shadow: none

.slide-list
	position: relative
	margin: 0
	padding: 0
.slide-wrap
	position: relative
	left: 0px
	top: 0
	/* максимально возможная ширина обертки слайдера */
	width: 10000000px
.slide-item
	/* Ширина слайда */
	width: 400px
	padding: 30px
	@media screen and (max-width: 768px)
		width: 190px
		padding: 20px
	/* Обтекание */
	float: left
/* навигация вперед/назад */
.navy 
	/* абсолютное позиционирование */
	position: relative
	z-index: 1
	height: 40px
	/* ширина ссылок */
	width: 40px
	cursor: pointer
	
.navy-phone img
	background-color: white
	border: 7px solid white
	border-radius: 70px

.arrow-navy
	position: relative
	top: 230px
	@media screen and (max-width: 768px)
		top: 100px
	
.slide-item__value
	padding: 34px 0 40px 0
	@media screen and (max-width: 768px)
		padding: 10px 0
.slide-title
	padding: 25px 0 42px 0
	@media screen and (max-width: 768px)
		padding: 10px 0
		height: 48px
.slide-item__button
	background-color: $orange
	border: 7px solid $orange
	border-radius: 10px
	a
		padding: 15px
	@media screen and (max-width: 768px)
	a 
		padding: 0
.slide-img img
	@media screen and (max-width: 768px)
		width: 108px
		height: 90px
//index-basket


.content-order-list_item__info-structure
	line-height: 30px

.content-order-end__click__btn
	border-radius: 10px
.content-order-list_item__info-delete a 
	color: $brownLight
.content-order-list_item__info-delete a:hover
	color: $burgundyLight
//cart-full

//cart-form

//input[type="text"]
	//font-family: inherit
	//font-size: inherit
	//line-height: inherit
	//margin: 0
	//height: 50px
label.required:after
	color: red
	content: "*"
//admin
.header_admin
	background-color: #e1dcb5
.main-admin-support
	margin-top: 70px

textarea
	height: 50px
input[class="edit-cart__item-input"]
	padding-left: 15px
	font-size: 22px
	height: auto
	width: 100%
	@media screen and (max-width: 992px)
		font-size: 16px
		height: 30px
.edit-cart__img img 
	@media screen and (max-width: 576px)
		width: 95%
select[class="edit-cart__item-input"]
	padding-left: 15px
	font-size: 22px
	height: auto
	width: 100%
	@media screen and (max-width: 992px)
		font-size: 16px
		
textarea[class="edit-cart__item-input-desc"]
	padding-left: 15px

	font-size: 22px
	height: auto
	width: 100%
	@media screen and (max-width: 992px)
		font-size: 16px
		height: auto
	
.edit-cart__item-title
	@media screen and (max-width: 768px)
		height: 25px

.edit-cart__item-input
	padding-left: 15px
	font-size: 22px
	height: 40px
	width: 100%
	@media screen and (max-width: 992px)
		font-size: 16px
		height: 30px


		

    
   
